@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "List Of Role";
}
<h3>All Role</h3>


@if (Model.Any())
{
    <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration" style="width:auto">Create Role</a>
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                @*<a class="btn btn-primary" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" style="width:auto">Edit Role</a>*@

                <form asp-action="DeleteRole" asp-route-id="@role.Id" asp-controller="Administration" method="post">
                    <a class="btn btn-primary" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" style="width:auto">Edit Role</a>

                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>
                            Are u sure u want to delete this role??
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id',false)">No</a>
                        </span>
                    </span>
                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id',true)">Delete</a>
                    </span>

                </form>

                @*///  <a href="#" class="btn btn-primary">Edit</a>*@
                @*<a href="#" class="btn btn-danger">Delete</a>*@
            </div>
        </div>
    }
}
else
{<div class="card">

        <div class="card-header">No Role Created Yet</div>
        <div class="card-body">
            <h5>Use the button bellow to create it</h5>
            <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration" style="width:auto">Create</a>


        </div>


    </div>
}

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

}
